<%- include('../partials/header') %>

<link rel="stylesheet" type="text/css" href="/styles/company.css">


<h2>Company History</h2>

<p>Company Description: <%= company.description %></p>

<h3>Employees</h3>
<ul>
  <% for (let i = 0; i < company.employees.length; i++) { %>
    <li>
      <h4><%= company.employees[i].name %></h4>
      <p>Job Title: <%= company.employees[i].jobTitle %></p>
      <p>Job Description: <%= company.employees[i].jobDescription %></p>
      <p>Email: <%= company.employees[i].email %></p>
      <p>Phone Number: <%= company.employees[i].phoneNumber %></p>
      <img src="<%= company.employees[i].img %>" alt="Employee Image">
    </li>
  <% } %>
</ul>

<%- include('../partials/footer') %>
